In [65]:
import pandas as pd

# Tratando dados físicos e meteorológicos

In [66]:
pf_df = pd.read_csv("clima.csv", sep=';')
pf_df.drop(columns=['Unnamed: 7'], inplace=True)
display(pf_df)

,Data Medicao,Hora Medicao,"PRECIPITACAO TOTAL, HORARIO(mm)",RADIACAO GLOBAL(Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)","UMIDADE RELATIVA DO AR, HORARIA(%)","VENTO, VELOCIDADE HORARIA(m/s)"
0,2018-01-01,0,0.0,-3.5,30.3,31.0,0.8
1,2018-01-01,100,0.0,-3.5,30.2,34.0,2.0
2,2018-01-01,200,0.0,-3.5,29.6,47.0,3.2
3,2018-01-01,300,0.0,-3.5,28.1,55.0,4.0
4,2018-01-01,400,0.0,-3.5,27.2,58.0,2.6
...,...,...,...,...,...,...,...
66835,2025-08-16,1900,NaN,NaN,NaN,NaN,NaN
66836,2025-08-16,2000,NaN,NaN,NaN,NaN,NaN
66837,2025-08-16,2100,NaN,NaN,NaN,NaN,NaN
66838,2025-08-16,2200,NaN,NaN,NaN,NaN,NaN
66839,2025-08-16,2300,NaN,NaN,NaN,NaN,NaN

In [68]:
pf_df.fillna(method='ffill', inplace=True)
print(pf_df.isnull().sum())

Data Medicao                                   0
Hora Medicao                                   0
PRECIPITACAO TOTAL, HORARIO(mm)                0
RADIACAO GLOBAL(Kj/m²)                         0
TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)    0
UMIDADE RELATIVA DO AR, HORARIA(%)             0
VENTO, VELOCIDADE HORARIA(m/s)                 0
dtype: int64

C:\Users\marco\AppData\Local\Temp\ipykernel_14572\1257529808.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  pf_df.fillna(method='ffill', inplace=True)

# Tratando dados da variação do volume da barragem

In [71]:
df_barragem = pd.read_csv("dados_tratados_ana_carnaubal.csv")
df_barragem

            data  volume
0     08-16-2021   49.95
1     08-17-2021   49.81
2     08-18-2021   49.68
3     08-19-2021   49.68
4     08-20-2021   49.54
...          ...     ...
1457  08-12-2025   12.99
1458  08-13-2025   12.99
1459  08-14-2025   12.95
1460  08-15-2025     NaN
1461  08-16-2025     NaN

[1462 rows x 2 columns]

In [ ]:
df_barragem.fillna(method='ffill', inplace=True)
print(df_barragem.isnull().sum())

data      0
volume    0
dtype: int64

C:\Users\marco\AppData\Local\Temp\ipykernel_14572\3135038113.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_barragem.fillna(method='ffill', inplace=True)